@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
	font-family: Inter;
	letter-spacing: -0.05ex;
}

h2 strong,
h3 strong {
	font-weight: 700;
}

body {
    font-family: Georgia, serif;
}

.dark {
    --theme: #0f4c81;
}

.logo {text-transform: lowercase}

iframe {
	padding-bottom: 1em;
	border-radius: 4px;
}	