/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/site/fonts/inter-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('/site/fonts/inter-v19-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/site/fonts/inter-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/site/fonts/inter-v19-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
	font-family: 'Inter';
	letter-spacing: -0.05ex;
}

h2 strong,
h3 strong {
	font-weight: 700;
}

body {
    font-family: Georgia, serif;
}

.terms-tags, .toc, #searchbox, .page-footer, .footer {
	font-family: 'Inter';
}

.dark {
    --theme: #0f4c81;
}

.logo {text-transform: lowercase}

iframe {
	padding-bottom: 1em;
	border-radius: 4px;
}

.gallery-wrapper {
	text-align: center;
	width: 100vw;
	margin-left: calc((-100vw + 100%) / 2);
	margin-right: calc((-100vw + 100%) / 2);
	padding: 0 3em;
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 10px 10px;
  align-items: flex-start;
}

.gallery-item {
  flex: 50%;
  margin: 0 auto;
}

.gallery-item img {margin: 10px 0 0 auto}

@media (max-width: 800px) {
  .gallery-wrapper{
	padding: 0 1em;
  }
  .gallery {
    flex-direction: column;
  }
  .gallery-item {
	flex: 100%;
	width: 100%;
	margin: 0 auto;
  }
}